<div>
    <p>Employee Table</p>

<table class="emp_table">
  <thead class="table-dark"> 
  <tr>
    <th scope="col">#</th>
    <th scope="col">Employee Id</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Salary</th>
    <th scope="col">DOB</th>
    <th scope="col">Email</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>

    <tr>
        <th scope="row">1</th>
        <td>
         "1234"
        </td>
        <td>Anshuman</td>
        <td>Biswal</td>
        <td>5000000</td>
        <td>26-DEC-1981</td>
        <td>abc@xyz.com</td>
        <td>SMTS</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>
         "91011"
        </td>
        <td>Swati</td>
        <td>Biswal</td>
        <td>500000</td>
        <td>08-MARCH-1987</td>
        <td>def@xyz.com</td>
        <td>MTS3</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>
         "121314"
        </td>
        <td>Laisha</td>
        <td>Biswal</td>
        <td>50000</td>
        <td>09-MAY-2000</td>
        <td>ghi@xyz.com</td>
        <td>INTERN</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>
       "121314"
      </td>
      <td>Anupam</td>
      <td>Biswal</td>
      <td>5000000</td>
      <td>02-AUGUST-1983</td>
      <td>jkl@xyz.com</td>
      <td>Manager</td>
  </tr>
  </tbody>
</table>

  
 </div>
